*{
    margin: 0px;
    padding: 0px;
}

body {
    
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
    background-image: url(media/img/cabecera.jpg);
    max-width: 100%;
    height: auto;
}

div#vacio{
    width: 100%;
    height: 600px;

}

div#parte1{
    max-width: 100%;
    width: 100%;
    background-image: url(media/img/awa.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

div#menu{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 100%;
    height: 100px;
    position: fixed;

}

div#body{
    margin: auto;
    width: auto;
    background-color: rgb(182, 224, 252);
    text-align: center;
}

#colorbotoncito{
    background-color: rgba(173, 216, 230, 0.801);
}

#escuelatitulo{
    text-shadow: rgba(28, 35, 41, 0.63) 5px 5px 5px;
    padding: 10px;
    text-align: center;
}

#cerdillassubtitulo{
    padding: 15px;
}