*{
    margin: 0px;
    padding: 0px;
}

body {
    
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
    background-image: url(media/img/cabecera.jpg);
    max-width: 100%;
    height: auto;
}

div#vacio{
    width: 100%;
    height: 600px;

}

div#parte1{
    max-width: 100%;
    width: 100%;
    background-image: url(media/img/awa.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


div#menu{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 100%;
    height: 100px;
    position: fixed;
    mask-position: top;
}

div#body{
    margin: auto;
    width: auto;
    background-color: rgb(182, 224, 252);
}

#colorbotoncito{
    background-color: rgba(173, 216, 230, 0.801);
}

#escuelatitulo{
    text-shadow: rgba(28, 35, 41, 0.63) 5px 5px 5px;
    padding: 10px;
    text-align: center;
}

#cerdillassubtitulo{
    padding: 15px;
}

#iconitos{
    text-align: left;
}

.whatsapp__float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

#fotitoperfil{
border-radius: 25px;
}